
<html>
<head>
    <meta charset="UTF-8">
    <title>درگاه پرداخت اینترنتی مادپی 724</title>
    <meta name="keywords" content="تراکنش،درگاه پرداخت،پرداخت،درگاه،امن">
    <meta name="description" content="گذرگاه تراکنش‌های مالی امن">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="initial-scale=1.0 user-scalable=no width=device-width">

    <link rel="icon" type="image/x-icon" href="/wwwroot/Content/favicon.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="/wwwroot/Content/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/wwwroot/Content/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/wwwroot/Content/favicon-16x16.png">
    <link rel="manifest" href="/wwwroot/Content/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="~/wwwroot/Content/css/site.css" rel="stylesheet" />

</head>
<body id="body">
    <section id="application">
        <div>
            <div class="notifications-container">
            </div><div>
                <!---->
                <div class="transitionFlip" style="opacity: 1;">
                    <div class="container">
                        @RenderBody()

                    </div>
                </div>
                <div class="signature">
                    <a target="_blank" href="https://madpay724.ir">قدرت گرفته از مادپی 724</a>
                </div>
            </div>
        </div>
    </section>

    @RenderSection("Scripts", required: false)

</body>
</html>