
    @{
        ViewData["Title"] = "فروشگاه کفش چرم";
    }

    <div class="text-center">
        <h1 class="display-4">نهایی کردن پرداخت</h1>
        <br />
        <div class="alert alert-warning" role="alert">
            لطفا هرگونه نرم افزار vpn خودرا خاموش کنید در پروسه پرداخت
        </div>
        <br />
        <h2>کفش مردانه ی چرم اصل ایرانی <span class="badge badge-secondary">300,000 تومان</span></h2>
        <br />
        <br />
        <br />
        @using (Html.BeginForm("Index", "Pay"))
        {
            <div class="form-group">
                <label for="exampleInputEmail1">قیمت قابل پرداخت</label>
                <input type="text" name="price" value="300000" class="form-control" aria-describedby="emailHelp" placeholder="قیمت مورد نظر را وارد کنید">
                <small id="emailHelp" class="form-text text-muted">مبلغ به تومان میباشد ...</small>
            </div>

            <button type="submit" class="btn btn-success">پرداخت نهایی با درگاه بانک ملت</button>

        }

    </div>
