@{
    ViewData["Title"] = "فروشگاه کفش چرم";
}

    <div class="text-center">
        <h1 class="display-4">نهایی کردن پرداخت</h1>
        <br />
        <div class="alert alert-warning" role="alert">
            لطفا هرگونه نرم افزار vpn خودرا خاموش کنید در پروسه پرداخت
        </div>
        <br />
        <h2>کفش مردانه ی چرم اصل ایرانی <span class="badge badge-secondary">300,000 تومان</span></h2>
        <br />
        <br />
        <br />

        <button type="button" class="btn btn-success">پرداخت نهایی با درگاه بانک ملت</button>

    </div>
