@{
    ViewData["Title"] = "فروشگاه کفش چرم";
}

    <div class="text-center">
        @if (true)
        {
            <button type="button" class="btn btn-success">پرداخت شما با موفقیت انجام شد</button>
            <br />
            <div class="alert alert-info" role="alert">
                کفش خیداری شده به آدرس شما ارسال خواهد شد
            </div>
            <br />
            <h2>کفش مردانه ی چرم اصل ایرانی <span class="badge badge-secondary">300,000 تومان</span></h2>

        }
        else
        {
            <button type="button" class="btn btn-danger">پرداخت شما موفقیت نبود</button>
            <br />
            <div class="alert alert-danger" role="alert">
                error
            </div>
            <br />
            <h2>کفش مردانه ی چرم اصل ایرانی <span class="badge badge-secondary">300,000 تومان</span></h2>

        }

    </div>
